// Enable fluid percentage width layouts with padding-manipulation
* {
  box-sizing: border-box;
}

// Prevent automatic font zoom, preserve pinch zooming. Reset html margins
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    margin: 0;
}

/*
Normalize fonts across browsers and make better animations with text.
Set base font size to 100% for user agency. This enables the em and rem
font strategy for the rest of the web page. Set line height to 1 for
browser synchronization
*/
body {
    margin: 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 100%;
    line-height: 1;
}

// Blank slate when editing spacing
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
    margin: 0;
    padding: 0;
}

// Fixes main in IE, gives control of li elements to user
main,
li {
    display: block;
}

// Gives control of font sizes for headers to you
h1,
h2,
h3,
h4 {
    font-size: inherit;
}

// Always bold not bolder in all browsers
strong {
    font-weight: bold;
}

// Don’t let the browser style your anchor tags
a,
button {
    color: inherit;
}

a {
    text-decoration: none;
}

// Fixes issues with buttons including firefox bugs
button {
    overflow: visible;
    border: 0;
    font: inherit;
    -webkit-font-smoothing: inherit;
    letter-spacing: inherit;
    background: none;
    cursor: pointer;
    padding: 0;
}

::-moz-focus-inner {
    padding: 0;
    border: 0;
}

input,
select,
textarea,
button {
    border: 0;
    font-family: inherit;
    font-size: inherit;

    &:focus {
        outline: none;
    }
}

// Responsive images
img {
    max-width: 100%;
    height: auto;
    border: 0;
}
