.group {
  *zoom: 1; }
  .group:before, .group:after {
    content: " ";
    display: table; }
  .group:after {
    clear: both; }

.go-to-blog a, .post-title a, .post-button, .post-pagination span a, .event-title a, .event-link {
  position: relative;
  padding-bottom: 3px; }
  .go-to-blog a:after, .post-title a:after, .post-button:after, .post-pagination span a:after, .event-title a:after, .event-link:after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d9a129;
    visibility: hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  .go-to-blog a:hover:after, .post-title a:hover:after, .post-button:hover:after, .post-pagination span a:hover:after, .event-title a:hover:after, .event-link:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); }

.icon-label a {
  position: relative;
  padding-bottom: 3px; }
  .icon-label a:before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #d9a129;
    visibility: hidden;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0); }
  .icon-label a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); }

* {
  box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  margin: 0; }

/*
Normalize fonts across browsers and make better animations with text.
Set base font size to 100% for user agency. This enables the em and rem
font strategy for the rest of the web page. Set line height to 1 for
browser synchronization
*/
body {
  margin: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 100%;
  line-height: 1; }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1; }

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul {
  margin: 0;
  padding: 0; }

main,
li {
  display: block; }

h1,
h2,
h3,
h4 {
  font-size: inherit; }

strong {
  font-weight: bold; }

a,
button {
  color: inherit; }

a {
  text-decoration: none; }

button {
  overflow: visible;
  border: 0;
  font: inherit;
  -webkit-font-smoothing: inherit;
  letter-spacing: inherit;
  background: none;
  cursor: pointer;
  padding: 0; }

::-moz-focus-inner {
  padding: 0;
  border: 0; }

input,
select,
textarea,
button {
  border: 0;
  font-family: inherit;
  font-size: inherit; }
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none; }

img {
  max-width: 100%;
  height: auto;
  border: 0; }

.bold {
  font-weight: bold; }

.italic {
  font-style: italic; }

.underline {
  text-decoration: underline !important; }

.light {
  font-weight: lighter; }

.small-text {
  font-size: .8em; }

.big-text {
  font-size: 1.4em; }

.green {
  color: #719071; }

.block {
  display: block; }

.up {
  margin-top: -1em; }

.no-bottom {
  padding-bottom: 0 !important; }

ul.inline-block li {
  display: inline-block; }
ul.orange-links li a {
  margin-top: 1em;
  display: block;
  margin-right: .5em;
  background: #d9a129;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  border-radius: 7px;
  text-decoration: none !important;
  color: white !important;
  padding: .5em .8em; }
  @media screen and (max-width: 480px) {
    ul.orange-links li a {
      margin-right: 0; } }
  ul.orange-links li a:hover {
    font-weight: normal;
    text-decoration: underline; }

#back-to-top {
  position: fixed;
  bottom: 3em;
  right: 3em;
  cursor: pointer;
  z-index: 1000;
  display: none; }
  #back-to-top .fa {
    font-size: 2em;
    font-weight: lighter;
    padding: .3em .35em .45em .35em;
    background-color: #d9a129;
    background-color: rgba(217, 161, 41, 0.7);
    color: #fff;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    #back-to-top .fa:hover {
      background-color: #d9a129; }

.gallery-item {
  float: left;
  width: 33%;
  height: 18em;
  background-size: cover;
  background-position: center center; }
  .gallery-item a {
    width: 100%;
    height: 100%;
    display: block; }
  @media screen and (max-width: 768px) {
    .gallery-item {
      float: none;
      width: 100%; } }
  .gallery-item img {
    float: left; }
    @media screen and (max-width: 768px) {
      .gallery-item img {
        width: 100%; } }

.banner.large {
  height: 30em;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .banner.large {
      height: 20em; } }
  .banner.large video {
    position: absolute;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 768px) {
      .banner.large video {
        display: none; } }
  .banner.large .banner-container {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 300px;
    font-size: 4rem;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
    @media screen and (max-width: 768px) {
      .banner.large .banner-container {
        font-size: 2rem; } }
    .banner.large .banner-container > * {
      display: inline-block;
      vertical-align: middle; }
.banner.small {
  height: 10em;
  background-size: cover;
  background-repeat: no-repeat; }
  @media screen and (max-width: 768px) {
    .banner.small {
      height: 7em; } }
@media screen and (max-width: 480px) {
  .banner img {
    max-height: 80px; } }

.banner-content-image {
  max-width: 150px; }

.banner-heading {
  color: #fff;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  line-height: .7em; }
  .banner-heading .small-text {
    font-size: .62em;
    padding-left: 4px; }

.page-section-wrapper {
  background-repeat: no-repeat;
  background-size: cover; }

.page-section {
  text-align: center;
  padding: 6em;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat; }
  .page-section a.orange-link {
    color: #d9a129;
    text-decoration: none; }
  @media screen and (min-width: 768px) {
    .page-section.narrow {
      padding: 6em 12em; } }
  .page-section.no-top {
    padding-top: 3em; }
  .page-section.full-width {
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .page-section.full-width .text-section {
      padding: 0 !important; }
  @media screen and (max-width: 768px) {
    .page-section {
      padding: 3em; } }
  .page-section.callout-section .col {
    float: none;
    display: inline-block;
    vertical-align: middle; }

.section-title {
  font-size: 3em;
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 1em;
  color: #719071; }
  .section-title.small {
    font-size: 2em; }
  @media screen and (max-width: 768px) {
    .section-title {
      font-size: 2.2em; } }

.section-sub-title {
  font-family: 'Teko', sans-serif;
  font-size: 1.5em;
  padding-bottom: 1.5em;
  text-transform: uppercase;
  color: #d9a129; }

.text-section {
  padding: 0 30px; }
  @media screen and (max-width: 768px) {
    .text-section {
      padding: 0; } }

.callout-text {
  line-height: 1.25em;
  text-transform: uppercase; }

.col {
  float: none;
  position: relative;
  min-height: 1px;
  width: 100%; }
  @media screen and (max-width: 480px) {
    .col {
      padding-left: 0 !important;
      padding-right: 0 !important; } }
  @media screen and (min-width: 768px) {
    .col.sm-3 {
      float: left;
      width: 25%; } }
  @media screen and (min-width: 768px) {
    .col.sm-9 {
      float: left;
      width: 75%; } }
  @media screen and (min-width: 768px) {
    .col.sm-6 {
      float: left;
      width: 50%; }
      .col.sm-6:first-child {
        padding-right: 15px; }
      .col.sm-6:last-child {
        padding-left: 15px; } }
  @media screen and (max-width: 992px) {
    .col.sm-12 {
      float: none;
      width: 100%;
      padding-left: 0 !important;
      padding-right: 0 !important; }
      .col.sm-12:not(:only-child):not(:last-child) {
        padding-bottom: 3em; } }
  @media screen and (min-width: 992px) {
    .col.md-3 {
      float: left;
      width: 25%;
      padding-left: 15px;
      padding-right: 15px; }
      .col.md-3:first-child {
        padding-left: 0; }
      .col.md-3:last-child {
        padding-right: 0; } }
  @media screen and (min-width: 992px) {
    .col.md-4 {
      width: 33%;
      float: left;
      padding-left: 15px;
      padding-right: 15px; } }
  @media screen and (max-width: 1200px) {
    .col.md-12 {
      float: none;
      width: 100%; }
      .col.md-12:not(:only-child):not(:last-child) {
        padding-bottom: 3em; } }
  @media screen and (min-width: 1200px) {
    .col.lg-3 {
      float: left;
      width: 25%;
      padding-left: 15px;
      padding-right: 15px; }
      .col.lg-3:first-child {
        padding-left: 0; }
      .col.lg-3:last-child {
        padding-right: 0; } }
  @media screen and (max-width: 480px) {
    .col.xs-12 {
      float: none;
      width: 100%; }
      .col.xs-12:not(:last-child) {
        padding-bottom: 3em; } }
  @media screen and (max-width: 768px) {
    .col.first-column {
      padding-bottom: 3em; } }

.section-divider {
  height: 1px;
  border: 0;
  border-top: 1px solid #e1e1e1;
  width: 90%;
  position: absolute;
  bottom: 0;
  margin: 0;
  max-width: 800px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.owl-theme .owl-controls {
  margin-top: 15px; }

.owl-buttons {
  position: absolute;
  bottom: -5px;
  width: 100%;
  pointer-events: none; }
  @media screen and (max-width: 480px) {
    .owl-buttons {
      bottom: inherit; } }

.owl-prev {
  float: left;
  text-transform: uppercase;
  font-weight: bold;
  pointer-events: auto;
  background: none !important;
  font-family: 'Teko', sans-serif;
  font-size: 1.4em !important;
  color: #719071 !important;
  opacity: 1 !important; }
  .owl-prev:before {
    content: '\2039';
    margin-right: 1em;
    font-weight: bolder;
    font-size: 1.2em; }

.owl-next {
  float: right;
  pointer-events: auto;
  background: none !important;
  font-family: 'Teko', sans-serif;
  font-size: 1.4em !important;
  color: #719071 !important;
  opacity: 1 !important;
  text-transform: uppercase;
  font-weight: bold; }
  .owl-next:after {
    content: '\203a';
    margin-left: 1em;
    font-weight: bolder;
    font-size: 1.2em; }

.owl-theme .owl-controls .owl-page span {
  opacity: 1;
  background: transparent;
  border: 1px solid #719071;
  -webkit-transition: all ease 0.1s;
  -moz-transition: all ease 0.1s;
  -ms-transition: all ease 0.1s;
  -o-transition: all ease 0.1s;
  transition: all ease 0.1s; }
  .owl-theme .owl-controls .owl-page span:hover {
    background: #719071; }
.owl-theme .owl-controls .owl-page.active span {
  background: #719071; }

.left {
  text-align: left; }

.dot-menu {
  max-width: 30em;
  margin: 0 auto; }
  .dot-menu li {
    display: list-item;
    list-style-type: disc; }
    .dot-menu li:not(:last-child) {
      padding-bottom: 1em; }

.unit-title {
  margin: 1em 0;
  font-size: 2em;
  color: #719071; }

.unit-box:not(:last-child) {
  padding-bottom: 4em; }

.pre-title {
  max-width: 42em;
  margin: 0 auto;
  padding-bottom: 5em; }
  @media screen and (max-width: 768px) {
    .pre-title {
      padding-bottom: 3em; } }

@media screen and (max-width: 768px) {
  .text-section, .section-content p {
    line-height: 1.3em; } }
.text-section a, .section-content p a {
  color: #719071;
  text-decoration: underline;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .text-section a:hover, .section-content p a:hover {
    font-weight: bold; }

.page-id-272 .section-sub-title {
  padding-bottom: .5em; }

.callout-button {
  display: inline-block;
  color: #fff;
  font-family: 'Teko', sans-serif;
  font-size: 2em;
  margin-top: 2em;
  background-color: #c08d21;
  padding: 0.6em 1.3em .5em 1.3em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  text-transform: uppercase;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .callout-button:hover {
    background-color: #d9a129; }

.story-container {
  max-width: 800px;
  margin: 0 auto; }

.search-results li:not(:last-child) {
  padding-bottom: 1em; }

.search-link {
  font-size: 1.5em;
  color: #d9a129;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .search-link:hover {
    color: #719071; }

body {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  line-height: 1.5em;
  color: #565656; }
  @media screen and (max-width: 768px) {
    body {
      font-size: 80%; } }

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3em; }

ol {
  text-align: left; }
  ol li {
    display: list-item;
    margin-left: 1em; }

@media screen and (max-width: 768px) {
  #site-wrapper {
    padding-top: 40px; } }
@media screen and (max-width: 480px) {
  #site-wrapper {
    padding-top: 20px; } }
@media screen and (max-width: 320px) {
  #site-wrapper {
    padding-top: 60px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 700px) {
  #site-wrapper {
    padding-top: 100px; } }
@media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 320px) {
  #site-wrapper {
    padding-top: 60px; } }

#site-header {
  -webkit-box-shadow: 0 3px 10px #F0F0F0;
  -moz-box-shadow: 0 3px 10px #F0F0F0;
  -ms-box-shadow: 0 3px 10px #F0F0F0;
  -o-box-shadow: 0 3px 10px #F0F0F0;
  box-shadow: 0 3px 10px #F0F0F0;
  position: relative;
  z-index: 1000; }
  #site-header.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    z-index: 1000; }
  @media screen and (max-width: 768px) {
    #site-header {
      position: absolute;
      top: 0;
      width: 100%;
      background: #fff;
      z-index: 1000; } }

#site-header-content {
  width: 100%;
  padding: 10px 30px;
  position: relative; }

#logo-container {
  max-width: 55px;
  display: inline-block;
  margin-right: 1em; }
  @media screen and (max-width: 480px) {
    #logo-container {
      max-width: 40px; } }

#site-nav {
  display: inline-block;
  vertical-align: top;
  padding-top: 20px;
  background: #fff; }
  @media screen and (max-width: 1200px) {
    #site-nav {
      display: none;
      padding-top: 20px; } }

#main-menu li {
  display: inline-block;
  padding: 0 1em;
  font-weight: bold;
  text-transform: uppercase;
  color: #d9a129;
  font-size: .9em;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  #main-menu li:hover {
    color: #c08d21; }
  #main-menu li:last-child {
    padding-right: 0; }
  @media screen and (max-width: 1200px) {
    #main-menu li {
      display: block;
      text-align: center;
      font-size: 1em;
      padding: 1em 0; } }

#social-box {
  position: absolute;
  top: 13px;
  right: 0;
  padding-right: 30px; }
  #social-box > * {
    display: inline-block;
    vertical-align: middle; }
  @media screen and (max-width: 1200px) {
    #social-box {
      top: 14px;
      right: 195px;
      -webkit-transform: translateX(50%);
      -moz-transform: translateX(50%);
      -ms-transform: translateX(50%);
      -o-transform: translateX(50%);
      transform: translateX(50%); } }
  @media screen and (max-width: 768px) {
    #social-box {
      right: 120px; } }
  @media screen and (max-width: 480px) {
    #social-box {
      top: 17px; } }

#social-menu li {
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle; }
  #social-menu li a img {
    max-height: 25px; }

#search-button {
  padding: 1.6em;
  border: 2px solid #719071;
  position: relative;
  cursor: pointer;
  -webkit-border-radius: 0.8em;
  -moz-border-radius: 0.8em;
  -ms-border-radius: 0.8em;
  -o-border-radius: 0.8em;
  border-radius: 0.8em;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  @media screen and (min-width: 768px) {
    #search-button:hover {
      background-color: #719071; } }
  #search-button img {
    max-height: 1.5em; }
    #search-button img#search-green {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%); }
    #search-button img#search-white {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      display: none; }

#donate-button {
  margin-left: 10px;
  padding: .7em 1em .6em 1em;
  background-color: #d9a129;
  font-size: 1.4em;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  font-family: 'Teko', sans-serif;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  #donate-button:hover {
    background-color: #c08d21; }
  @media screen and (max-width: 768px) {
    #donate-button {
      display: none; } }

#searchform {
  padding: 0px;
  position: absolute;
  opacity: 0;
  right: 30px;
  bottom: -45px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0); }
  #searchform.bring-in {
    opacity: 1;
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1); }

#search-input {
  width: 400px;
  border: 2px solid #567355;
  background-color: #719071;
  padding: .45em;
  color: #fff; }
  #search-input::-ms-clear {
    display: none; }
  #search-input::-webkit-input-placeholder {
    color: #fff; }
  #search-input::moz-placeholder {
    color: #fff; }
  #search-input:ms-placeholder {
    color: #fff; }
  @media screen and (max-width: 480px) {
    #search-input {
      width: 220px; } }

#search-submit {
  position: absolute;
  right: 0;
  top: 0;
  padding: .5em; }
  @media screen and (max-width: 768px) {
    #search-submit {
      padding: .35em; } }
  @media only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 768px) {
    #search-submit {
      top: 2px; } }

#menu-button {
  display: none;
  width: 3em;
  height: 3em;
  position: relative;
  float: right;
  cursor: pointer;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  top: 13px; }
  @media screen and (max-width: 1200px) {
    #menu-button {
      display: block; } }
  @media screen and (max-width: 480px) {
    #menu-button {
      top: 8px; } }
  #menu-button span {
    display: block;
    position: absolute;
    height: .3em;
    width: 100%;
    background: #d9a129;
    opacity: 1;
    left: 0;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
    #menu-button span:nth-child(1) {
      top: 0;
      height: .31em; }
    #menu-button span:nth-child(2) {
      top: 1em; }
    #menu-button span:nth-child(3) {
      top: 2em; }
      @media screen and (max-width: 768px) {
        #menu-button span:nth-child(3) {
          height: .31em; } }
  #menu-button.open span:nth-child(1) {
    top: 1em;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg); }
  #menu-button.open span:nth-child(2) {
    opacity: 0;
    left: -60px; }
  #menu-button.open span:nth-child(3) {
    top: 1em;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg); }

.button-wrapper {
  padding: 0 30px; }
  @media screen and (max-width: 480px) {
    .button-wrapper {
      padding: 0; } }

.button-text {
  padding: 50px;
  background-color: #d9a129;
  color: #fff;
  font-size: 1.1em;
  -webkit-border-radius: 10px 10px 0 0;
  -moz-border-radius: 10px 10px 0 0;
  -ms-border-radius: 10px 10px 0 0;
  -o-border-radius: 10px 10px 0 0;
  border-radius: 10px 10px 0 0; }

.button-section {
  text-transform: uppercase;
  display: block;
  line-height: 1em;
  padding: 30px 50px;
  background-color: #c08d21;
  color: #fff;
  font-size: 2.6em;
  font-weight: bold;
  font-family: 'Teko', sans-serif;
  -webkit-border-radius: 0 0 10px 10px;
  -moz-border-radius: 0 0 10px 10px;
  -ms-border-radius: 0 0 10px 10px;
  -o-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .button-section:hover {
    background-color: #b0821e; }

.callout-section {
  font-family: 'Teko', sans-serif; }
  .callout-section .col {
    font-size: 1.8em; }

.signup-container {
  padding: 0 30px;
  position: relative; }
  .signup-container ::-webkit-input-placeholder {
    color: #719071;
    opacity: 1 !important; }
  .signup-container :-moz-placeholder {
    color: #719071; }
  .signup-container ::-moz-placeholder {
    color: #719071; }
  .signup-container :-ms-input-placeholder {
    color: #719071; }

.callout-signup, .footer-signup {
  color: #719071;
  font-size: .8em;
  width: 100%;
  padding: .3em .5em;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.callout-submit, .footer-submit {
  position: absolute;
  top: 0;
  right: 30px;
  height: 100%;
  background-color: #d9a129;
  padding: 10px;
  -webkit-border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -ms-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border-radius: 0 10px 10px 0; }

.callout-hr {
  position: absolute;
  top: 0;
  width: 65%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

.story-content {
  height: 28em;
  display: block;
  background: #ffffff;
  box-shadow: inset 0 0 5px #d3d3d3;
  -moz-box-shadow: inset 0 0 5px #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px #d3d3d3; }
  .story-content .story-item, .story-content .post-item {
    margin: 0 4em;
    padding: 0;
    height: 20em;
    position: relative;
    top: 4em;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: none; }

.post-item-content {
  height: 28em;
  display: block;
  background: #ffffff;
  box-shadow: inset 0 0 5px #d3d3d3;
  -moz-box-shadow: inset 0 0 5px #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px #d3d3d3; }
  .post-item-content .post-item {
    margin: 0 4em;
    padding: 0;
    height: 20em;
    position: relative;
    top: 4em;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: none; }

.story-item, .post-item {
  padding: 4em;
  height: 28em;
  overflow-y: scroll;
  background-color: #fff;
  -moz-box-shadow: inset 0 0 5px #d3d3d3;
  -webkit-box-shadow: inset 0 0 5px #d3d3d3;
  box-shadow: inset 0 0 5px #d3d3d3; }

.story-author, .post-item-title {
  font-size: 1.8em;
  text-transform: uppercase;
  font-family: 'Teko', sans-serif;
  color: #719071; }

.story-text, .post-item-text {
  padding-top: 2em; }

.post-item {
  overflow: inherit; }

.post-item-button, .footer-button {
  display: inline-block;
  margin-top: 1.6em;
  color: #d9a129;
  font-size: 2em;
  padding: .6em 1em .5em 1em;
  font-family: 'Teko', sans-serif;
  font-weight: bold;
  border: 1px solid #d9a129;
  text-transform: uppercase;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  -webkit-transition: all, ease, 0.3s;
  -moz-transition: all, ease, 0.3s;
  -ms-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s; }
  .post-item-button:hover, .footer-button:hover {
    background-color: #d9a129;
    color: #fff; }

.icon-container {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  padding-right: 10px; }
  .icon-container:last-child {
    padding-right: 0;
    width: 140px; }
  @media screen and (max-width: 480px) {
    .icon-container {
      padding-right: 0; }
      .icon-container:not(:last-child) {
        padding-bottom: 2em; } }

.icon-box {
  height: 140px;
  position: relative;
  border: 2px solid #f4f4f4;
  margin-bottom: 20px;
  -webkit-transition: all, ease, 0.3s;
  -moz-transition: all, ease, 0.3s;
  -ms-transition: all, ease, 0.3s;
  -o-transition: all, ease, 0.3s;
  transition: all, ease, 0.3s; }
  .icon-box:hover {
    border: 2px solid #719071; }
  .icon-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 100px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }

.icon-label {
  font-family: 'Teko', sans-serif;
  font-size: 1.2em;
  text-transform: uppercase;
  color: #d9a129; }
  .icon-label a {
    display: inline-block; }

.mCS-rounded-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-rounded-dots-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #fff !important;
  border: 1px solid #565656 !important; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px !important; }

.sidebar {
  background: #fff; }
  .sidebar.side-fix {
    position: fixed;
    width: 25%;
    top: 129px; }
    .sidebar.side-fix .filters-list li a {
      padding: 1em 2em; }

.post-content {
  position: relative;
  background: #f4f4f4; }
  .post-content .page-section-wrapper {
    padding: 5em; }
    .post-content .page-section-wrapper:not(:last-child) {
      padding-bottom: 0; }
    @media screen and (max-width: 768px) {
      .post-content .page-section-wrapper {
        padding: 0; } }
    @media screen and (max-width: 768px) {
      .post-content .page-section-wrapper:nth-child(even) .page-section {
        background: #f4f4f4; } }
  .post-content .page-section {
    padding: 3em !important;
    background: #fff; }

.archive-header {
  padding: 3em; }

.archive-title {
  width: 100%;
  text-align: center;
  padding: 2em 0 0 0;
  font-size: 3em;
  color: #719071; }
  @media screen and (max-width: 480px) {
    .archive-title {
      font-size: 2em; } }

.go-to-blog {
  font-family: Teko;
  font-size: 2em;
  padding-top: 1em;
  text-align: center;
  text-transform: uppercase;
  color: #d9a129; }
  .go-to-blog.single {
    padding-top: 2.5em; }
  .go-to-blog:before {
    content: '\f053';
    font-family: 'FontAwesome';
    padding-right: 1em;
    font-size: .8em; }

@media screen and (max-width: 768px) {
  .archive .go-to-blog {
    margin-bottom: 2em; } }

.post-title a:after {
  background: #719071 !important;
  bottom: 10px !important; }

.post-button {
  font-family: Teko;
  text-transform: uppercase;
  font-size: 2em;
  margin-top: 1em;
  display: inline-block;
  color: #d9a129; }

a.tag {
  display: inline-block;
  padding: .3em .6em;
  border: 1px solid #719071;
  margin-right: 1em;
  margin-top: 1.5em;
  color: #719071;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  a.tag:hover {
    background-color: #719071;
    color: #fff; }

.sidebar-title {
  font-size: 2.5em;
  color: #719071;
  padding-bottom: .5em; }
  @media screen and (max-width: 1200px) {
    .sidebar-title {
      font-size: 2.2em; } }
  @media screen and (max-width: 992px) {
    .sidebar-title {
      font-size: 1.8em; } }

.sidebar-sub-title {
  font-size: 1.7em;
  color: #b7b7b7;
  font-weight: lighter;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase; }

.sort-title {
  padding: 0 1em 2em 3em;
  display: block; }

.filters-list.unit li a {
  width: 100%;
  display: block;
  padding: 1.5em 3em;
  background-color: #e1e1e1;
  margin-bottom: 1px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .filters-list.unit li a:hover, .filters-list.unit li a.active {
    background-color: #d9a129;
    color: #fff; }
.filters-list.blog > li span {
  width: 100%;
  display: block;
  padding: 1.5em 3em;
  background-color: #e1e1e1;
  margin-bottom: 1px;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s; }
  .filters-list.blog > li span:after {
    content: '\f067';
    font-family: 'FontAwesome';
    position: absolute;
    right: 20px; }
  .filters-list.blog > li span:hover {
    background-color: #d9a129;
    color: #fff; }
  .filters-list.blog > li span.active {
    background-color: #d9a129;
    color: #fff; }
    .filters-list.blog > li span.active:after {
      content: '\f068'; }
.filters-list.blog > li ul {
  display: none;
  padding: 3em;
  background-color: #e1e1e1;
  margin-bottom: 1px; }
  .filters-list.blog > li ul li {
    padding-bottom: 1em; }
    .filters-list.blog > li ul li:last-child {
      padding-bottom: 0; }
    .filters-list.blog > li ul li a:hover {
      font-weight: bold; }

.sidebar-wrapper {
  padding-bottom: 0 !important; }

.post-thumbnail {
  padding-bottom: 40px;
  max-width: 300px;
  margin: 0 auto; }

.post-pagination {
  position: relative;
  color: #719071;
  font-size: 1.5em;
  font-family: 'Teko', sans-serif;
  margin-top: 1em;
  padding-bottom: 1em; }
  .post-pagination span.prev {
    position: absolute;
    left: 0;
    top: 0; }
  .post-pagination span.next {
    position: absolute;
    right: 0;
    top: 0; }
  .post-pagination span a:after {
    background-color: #719071 !important;
    bottom: 5px !important; }

.social-sharing a {
  display: inline-block;
  vertical-align: middle; }
  .social-sharing a:not(:last-child) {
    padding-right: 1em; }

.blog .social-sharing, .archive .social-sharing {
  margin-top: 2em; }

.post-content p:not(:last-child) {
  padding-bottom: 1.5em; }

.event-excerpt {
  padding: 3em;
  text-align: left;
  background-color: #fff;
  color: #565656; }

.event-meta {
  padding-bottom: 3em; }

.event-title {
  font-size: 1.7em;
  color: #719071;
  text-transform: uppercase;
  padding-bottom: .4em; }
  .event-title a:after {
    background: #719071 !important;
    bottom: 10px !important; }

.event-date {
  font-size: 1.05em; }

.event-link {
  text-transform: uppercase;
  padding: 3em 0 1em 0;
  display: inline-block;
  color: #d9a129;
  font-weight: bold; }

.event-callout {
  padding-top: 4em;
  max-width: 700px;
  margin: 0 auto;
  line-height: 2em;
  font-size: 1.5em; }

.wpcf7 {
  max-width: 600px;
  margin: 0 auto !important;
  padding-top: 2em !important; }
  .wpcf7 p:not(:last-child) {
    padding-bottom: 1em; }
  .wpcf7 input:not([type="submit"]), .wpcf7 textarea {
    width: 100%;
    width: 100%;
    padding: .3em;
    background: transparent;
    border: 2px solid #fff;
    color: #fff;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }
    .wpcf7 input:not([type="submit"]):focus, .wpcf7 textarea:focus {
      background: #fff;
      color: #000; }
  .wpcf7 input[type="submit"] {
    color: #fff;
    background-color: #c08d21;
    padding: .3em 1em .2em 1em;
    font-family: 'Teko', sans-serif;
    font-size: 2em;
    cursor: pointer;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    transition: all ease 0.3s;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px; }
    .wpcf7 input[type="submit"]:hover {
      background-color: #d9a129; }

#footer-container {
  padding: 4em;
  position: relative;
  background-color: #f4f4f4;
  color: #719071; }
  @media screen and (min-width: 992px) {
    #footer-container {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      overflow: hidden; } }
  @media screen and (max-width: 1200px) {
    #footer-container {
      font-size: .9em;
      padding: 4em 3em; } }
  @media screen and (max-width: 480px) {
    #footer-container {
      font-size: 1em; } }
  #footer-container h3 {
    text-transform: uppercase; }
  #footer-container .col:nth-child(3) span {
    display: block; }
    #footer-container .col:nth-child(3) span.small-text:first-child {
      padding-top: 4em; }

#footer-logo img {
  padding: 0 1em; }

.footer-column {
  padding: 0 1em; }
  @media screen and (min-width: 992px) {
    .footer-column:not(:last-child) {
      border-right: 1px solid #719071; } }
  @media screen and (max-width: 992px) {
    .footer-column:not(:first-child) {
      padding-top: 3em; }
    .footer-column:not(:last-child) {
      border-bottom: solid 1px #719071; } }
  .footer-column:first-child {
    text-align: center; }

.footer-title {
  font-family: Teko, sans-serif;
  font-size: 2em;
  line-height: .8em;
  padding-bottom: 1em; }
  .footer-title .light {
    font-size: .71em; }
  .footer-title .big {
    font-size: 1.14em; }
  @media screen and (max-width: 1150px) and (min-width: 993px) {
    .footer-title .light {
      font-size: .52em; }
    .footer-title .big {
      font-size: .85em; } }

#footer-logo {
  padding-bottom: 2em; }

#privacy-link {
  font-weight: bold;
  padding-bottom: 1em;
  display: block; }

.footer-button {
  margin-top: 1em !important;
  margin-bottom: 1.1em; }

.footer-signup-container {
  position: relative; }

.footer-signup {
  padding: .7em 1em !important; }

.footer-submit {
  right: 0 !important; }

.address,
.phone,
.email {
  padding: 1em 0; }

.phone a {
  color: #719071;
  text-decoration: none; }

#copyright {
  text-align: center;
  color: #719071;
  padding: 1em;
  font-size: .8em; }

/*# sourceMappingURL=style.css.map */
